{% extends 'layout/base.html' %}

{% block title %}Gio hang{% endblock %}

{% block content %}
<h1 class="text-center text-info">GIO HANG</h1>

{% if 'cart' in session and session['cart'] %}
<table class="table">
    <tr>
        <th>Ma san pham</th>
        <th>Ten san pham</th>
        <th>Don gia</th>
        <th>So luong</th>
        <th></th>
    </tr>
    {% for c in session['cart'].values() %}
    <tr id="product{{ c.id }}">
        <td>{{ c.id }}</td>
        <td>{{ c.name }}</td>
        <td>{{ c.price }}</td>
        <td>
            <div class="form-group">
                <input type="number"
                       onblur="updateCart(this, {{ c.id }})"
                       class="form-control"
                       value="{{ c.quantity }}"  />
            </div>
        </td>
        <td>
            <input type="button"
                   onclick="deleteCart({{ c.id }})"
                   value="Xoa"
                   class="btn btn-danger" />
        </td>
    </tr>
    {% endfor %}
</table>

<div class="alert alert-info">
    <h5>Tong san pham: <span id="cartCounter2">{{ cart_stats.total_quantity }}</span></h5>
    <h5>Tong tien: <span id="cartAmount">{{ "{:,.1f}".format(cart_stats.total_amount) }}</span> VND</h5>
</div>

{% if current_user.is_authenticated %}
<input type="button" value="Thanh toan" onclick="pay()" class="btn btn-danger" />
{% else %}
<a href="{{ url_for('user_signin', next='cart') }}">Vui long dang nhap de thanh toan</a>
{% endif %}
<br><br>
{% else %}
<p><i>Khong co san pham trong gio!!!</i></p>
{% endif %}
{% endblock %}