{% extends 'layout/base.html' %}

{% block title %}Trang chu{% endblock %}

{% block content %}
<h1 class="subject">DANH MUC SAN PHAM</h1>

    {% if products %}
    <hr>
    <form>
      <input type="text" name="keyword" placeholder="Nhap tu khoa..." />
      <input type="number" name="from_price" placeholder="Nhap tu gia..." />
      <input type="number" name="to_price" placeholder="Nhap den gia..." />
      <input type="submit" value="Tim kiem" />
    </form>
    <hr>
    <table border="1" width="100%" class="product">
      <tr>
        <th></th>
        <th>Ma san pham</th>
        <th>Ten san pham</th>
        <th>Mo ta</th>
        <th>Gia ban</th>
      </tr>
      {% for p in products %}
      <tr>
        <td>
          <img src="{{ url_for('static', filename=p.image) }}" width="120" alt="{{ p.name }}" />
        </td>
        <td>{{ p.id }}</td>
        <td>{{ p.name }}</td>
        <td>{{ p.description }}</td>
        <td>{{ "{:,.1f}".format(p.price) }} VND</td>
      </tr>
      {% endfor %}
    </table>
    {% else %}
    <p><i>Khong co san pham nao!!!</i></p>
    {% endif %}
  </div>
{% endblock %}

