{% extends 'admin/master.html' %}

{% block body %}
<h1 class="text-center text-info">THONG KE & BAO CAO DOANH THU</h1>

<!-- Thong ke doanh thu theo san pham -->
<!-- Ve bieu do tuong ung ket qua truy van -->

<div class="row">
    <div class="col-md-6 col-xs-12">
        <table class="table">
            <tr>
                <th>Ma san pham</th>
                <th>Ten san pham</th>
                <th>Doanh thu</th>
            </tr>
            {% for s in stats %}
            <tr>
                <td>{{ s[0] }}</td>
                <td>{{ s[1] }}</td>
                <td>
                    {% if s[2] %}
                    {{ "{:,.1f}".format(s[2]) }}
                    {% else %}
                    0
                    {% endif %}
                    VND
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <div class="col-md-6 col-xs-12">
        <form>
            <div class="form-group">
                <input type="text"
                       name="kw"
                       placeholder="Nhap tu khoa..."
                       class="form-control" />
            </div>
            <div class="form-group">
                <input type="date"
                       name="from_date"
                       class="form-control" />
            </div>
            <div class="form-group">
                <input type="date"
                       name="to_date"
                       class="form-control" />
            </div>
            <input type="submit" value="Thong ke" class="btn btn-primary" />
        </form>
        <canvas id="myProductChart"></canvas>
    </div>
</div>

<div class="row">
    <div class="col-md-6 col-xs-12">
        <table class="table">
            <tr>
                <th>Thang</th>
                <th>Doanh thu</th>
            </tr>
            {% for s in month_stats %}
            <tr>
                <td>{{ s[0] }}</td>
                <td>
                    {{ "{:,.1f}".format(s[1]) }}VND
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <div class="col-md-6 col-xs-12">
        <form>
            <div class="form-group">
                <input type="number"
                       name="year"
                       placeholder="Nhap nam..."
                       class="form-control" />
            </div>
            <input type="submit" value="Thong ke" class="btn btn-primary" />
        </form>
        <canvas id="myProductMonthChart"></canvas>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    let labels = [], labels2 = []
    let data = [], data2 = []
    {% for s in stats %}
        {% if s[2] %}
            labels.push('{{ s[1] }}')
            data.push({{ s[2] }})
        {% endif %}
    {% endfor %}

    {% for s in month_stats %}

        labels2.push({{ s[0] }})
        data2.push({{ s[1] }})

    {% endfor %}

    window.onload = function() {
        let ctx = document.getElementById('myProductChart').getContext('2d');
        showChart(ctx, labels, data, 'bar')

        let ctx2 = document.getElementById('myProductMonthChart').getContext('2d')
        showChart(ctx2, labels2, data2, 'line')
    }

    function showChart(ctx, labels, data, type) {
        let colors = [], borderColors=[]
        let r, g, b
        for (let i = 0; i < labels.length; i++) {
            r = parseInt(Math.random()*255)
            g = parseInt(Math.random()*255)
            b = parseInt(Math.random()*255)
            colors.push(`rgba(${r}, ${g}, ${b}, 0.2)`)
            borderColors.push(`rgba(${r}, ${g}, ${b}, 1)`)
        }

        const myChart = new Chart(ctx, {
            type: type,
            data: {
                labels: labels,
                datasets: [{
                    label: 'Thong ke so san pham theo danh muc',
                    data: data,
                    backgroundColor: colors,
                    borderColor: borderColors,
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
    }
</script>
{% endblock %}